{% extends 'Layout/base.html' %} 

{% block content %}


<div class="container">
    <div class="content">
            <div class="row">
                <div class="col-md-6">
                    
                    <h2>Listado de Comentarios</h2>
                    {% for i in vista %}
                    <div class="table-responsive">

                        <table class="table primary">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ forloop.counter }}</td>                       
                                <td>{{ i.name }}</td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.email }}</td>
                                <td>{{ i.message }}</td>
                            </tr>
                            {% comment %} <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr> {% endcomment %}
                            </tbody>
                        </table>                        
                        {% endfor %}
                    </div>
                </div>   
            </div>      
    </div>          
</div>            

{% endblock %} 
